@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #3498db;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "Space Mono";
}

h1 {
  text-align: left;
  color: white;
  font-size: 100px;
  margin-left: 5%;
}

.web-page {
  width: 100%;
}

.left-half {
  float: left;
  width: 50%;
}

.right-half {
  float: left;
  width: 50%;
}

.calculator input,
.calc-button,
.operator-button {
  font-family: "Space Mono";
}

.calculator {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  background-color: #ecf0f1;
}

.calc-button {
  background: #e74c3c;
  opacity: 85%;
  border: 2px solid #ecf0f1;
  padding: 20px;
  color: #ecf0f1;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.calculator input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  padding-right: 30px;
  width: 100%;
  border-bottom: 2px solid #2c3e50;
  background-color: rgb(245, 240, 240);
  color: #333;
  text-align: right;
  font-size: 50px;
  border-radius: 5px;
}

.calc-button#zero {
  grid-column: span 2;
}

.operator-button,
.equals-button {
  background-color: #3498db;
  border: 2px solid #ecf0f1;
  padding: 20px;
  color: #ecf0f1;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.calc-button#tool {
  background: #2c3e50;
}

.calc-button#clear {
  background: #2c3e50;
  grid-column: span 2;
}

.operator-button#modulo {
  background: #2c3e50;
}
