@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #3498db;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "Space Mono";
}

h1 {
  text-align: center;
  color: white;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #2980b9;
  border-radius: 5px;
  background-color: #ecf0f1;
}

.calc-button {
  background: #e74c3c;
  opacity: 85%;
  border: 1px solid white;
  padding: 20px;
  color: #eee;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.calculator input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #2980b9;
  background-color: rgb(245, 240, 240);
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 5px;
}

.calc-button#zero {
  grid-column: span 2;
}

.calc-button#operator {
  background-color: #3498db;
}

.calc-button#tool {
  background: #2c3e50;
}
